.tray {
    display: grid;
    grid-area: tray;
    justify-content: center;
    align-items: center;
    border-top: 2px solid black;
    grid-template-columns: 1fr;
    grid-auto-rows: max-content;

    button {
        border-bottom: 1px solid black;
        display: grid;
        justify-content:space-between;
        align-items:baseline;
        grid-template-rows: 1fr;
        grid-template-columns: 3fr 1fr;
        grid-template-areas: "label     count";

        &.planes {
            background-color: silver;
        }
        &.tanks {
            background-color: green;
        }

        .label {
            grid-area: label;
        }
        .count {
            grid-area: count;
        }
    }
}

@media (orientation: landscape) {
    .tray {
        grid-auto-rows: max-content;
    }
}