.bar {
    display: grid;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid black;
    grid-gap: 0px;
    grid-template-columns: 1fr 5fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "burger title profile";


    .burger {
        display: grid;
        justify-content: center;
        align-items: center;
        padding: 10px;
        grid-area: burger;
    }

    .title {
        grid-area: title;
    }

    .profile {
        align-self: center;
        justify-self: center;
        font-size: x-large;
        grid-area: profile;
        border: 1px solid black;
        box-shadow: 0 0 5px 0px grey;
        border-radius: 12px;
        width: fit-content;
        padding: 5px 10px;
    }
}

@media (orientation: landscape) {
    .bar {
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 5fr 1fr;
        grid-template-areas: 
            "burger"
            "title"
            "profile";
    }
}