.layout {
    grid-gap: 10px;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px 1fr 50px;
    grid-template-areas: 
        "header"
        "map"
        "panel";

    .area {
        &.sidebar {
            display: none;
        }
        &.bonus {
            display: none;
        }
    } 
}

// medium grid template
@media (min-width: 768px) {
    .layout {
        grid-template-columns: 300px 5fr 3fr;
        grid-template-areas:
            "header     header      header"
            "panel    map    map"
            "panel    map      map";

        .area {
            &.sidebar {
                display: none;
            }
        } 
    }
}
